
@model List<User>
@{
    ViewData["Title"] = "User List";
}



<h2 class="mb-4">User List<</h2>

<div class="search-filter">

    <form asp-action="Index" method="get" class="d-flex align-items-center">

        <select name="userRole" class="form-select">
            <option value="">All Roles</option>
            @foreach (var bg in Enum.GetNames(typeof(UserRole)))
            {
                <option value="@bg" selected="@(ViewBag.userRole == bg)">@bg</option>
            }
        </select>
        <button type="submit" class="btn btn-custom">Search</button>
    </form>
</div>

<table class="table table-bordered table-striped">
    <thead class="table-dark">
        <tr>
            <th>Full Name</th>
            <th>Role</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>

                <td>@($"{user.FirstName} {user.LastName}")</td>
                <td>@user.Role</td>
            </tr>
        }
    </tbody>
</table>


